<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Service Canada Labs Clone" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Service Canada Labs | Laboratoires de Service Canada</title>
  </head>
  <body class="w-[100dvw] h-[100dvh]">
    <div
      class="bg-[url('/splash.png')] bg-contain bg-no-repeat bg-center w-full h-full grid place-content-center"
    >
      <div class="bg-white">
        <img src="/sig-blk.svg" class="h-6 m-2" />
        <div class="p-5 flex items-center justify-center gap-2 h-32">
          <a
            class="bg-slate-800 text-white hover:bg-slate-900 py-2 px-4"
            href="/en/home">English</a
          >
          <a
            class="bg-slate-800 text-white hover:bg-slate-900 py-2 px-4"
            href="/fr/home">Français</a
          >
        </div>
        <div class="bg-gray-100 flex justify-between p-5 gap-2 item-center">
          <div class="flex gap-2">
            <a class="" href="https://www.canada.ca/en/transparency/terms.html"
              >Terms &amp; conditions</a
            >
            <a class="" href="https://www.canada.ca/fr/transparence/avis.html"
              >Avis</a
            >
          </div>
          <img src="/wmms-blk.svg" class="h-6" />
        </div>
      </div>
    </div>
  </body>
</html>
