<footer>
  <div class="bg-slate-800 text-white py-5">
    <div class="max-w-7xl mx-auto px-2">
      <h2 class="font-bold text-lg">Government of Canada</h2>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-2">
        <a href="">All contacts</a>
        <a href="">Departments and agencies</a>
        <a href="">About government</a>
        <a href="">Jobs</a>
        <a href="">Taxes</a>
        <a href="">Canada and the world</a>
        <a href="">Immigration and citizenship</a>
        <a href="">Environment and natural resources</a>
        <a href="">Money and finance</a>
        <a href="">Travel and tourism</a>
        <a href="">National security and defence</a>
        <a href="">Science and innovation</a>
        <a href="">Business</a>
        <a href="">Culture, history and sport</a>
        <a href="">Indigenous peoples</a>
        <a href="">Benefits</a>
        <a href="">Policing, justice and emergencies</a>
        <a href="">Veterans and military</a>
        <a href="">Health</a>
        <a href="">Transport and infrastructure</a>
        <a href="">Youth</a>
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center max-w-7xl mx-auto px-2 py-5">
    <div class="flex flex-col gap-2 sm:flex-row">
      <a href="">Social media</a>
      <a href="">Mobile applications</a>
      <a href="">Terms and conditions</a>
      <a href="">Privacy</a>
    </div>
    <img src="/wmms-blk.svg" class="h-10" />
  </div>
</footer>
