---
const { lang } = Astro.props;

function changeUrlLocale() {
  let url = new URL(Astro.url);
  return url.pathname.replace(`/${lang}`, `/${lang === "en" ? "fr" : "en"}`);
}
---

<header>
  <div class="flex justify-between items-center max-w-7xl mx-auto px-2 py-5">
    <img src="/sig-blk.svg" class="h-8" />
    <a href={changeUrlLocale()} class="underline">{lang === "en" ? "Français" : "English"}</a>
  </div>
</header>
