---
import Layout from "../../layouts/Layout.astro";
import { useTranslations } from "../../i18n/utils";

const { lang } = Astro.params;
const t = useTranslations(lang);
---

<Layout title={t("home")} lang={lang}>
  <main>
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt id modi
      et. Neque in dicta fugit cum illo harum veniam eius officiis hic! Placeat
      atque cumque, ipsa illum repellat earum cupiditate fugit suscipit
      veritatis error aspernatur reiciendis mollitia?
    </div>
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt id modi
      et. Neque in dicta fugit cum illo harum veniam eius officiis hic! Placeat
      atque cumque, ipsa illum repellat earum cupiditate fugit suscipit
      veritatis error aspernatur reiciendis mollitia?
    </div>
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt id modi
      et. Neque in dicta fugit cum illo harum veniam eius officiis hic! Placeat
      atque cumque, ipsa illum repellat earum cupiditate fugit suscipit
      veritatis error aspernatur reiciendis mollitia?
    </div>
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt id modi
      et. Neque in dicta fugit cum illo harum veniam eius officiis hic! Placeat
      atque cumque, ipsa illum repellat earum cupiditate fugit suscipit
      veritatis error aspernatur reiciendis mollitia?
    </div>
  </main>
</Layout>
